<div class="col-6 col-sm-6 col-lg-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= link_to product.name, product %> - <%= number_to_currency(product.price) %> each
          <% if session[:items].include?(product.id) %>
            <span id="float_right"><%= link_to 'Remove From Cart', remove_path(product), :method => :post %></span>
          <% else %>
            <span id="float_right"><%= link_to 'Add To Cart', add_path(product), :method => :post %></span>
          <% end %>
        </h3>
      </div>
      <div class="panel-body-image">
        <%= image_tag product.image %>
      </div>
    </div>
</div>







