<!DOCTYPE html>
<html>
<head>
  <title>A4ProjectRevive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse">
      <%= form_tag results_path do %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact Us', contact_path %></li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Browse By Category <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id="catbutt">
              <li><%= link_to 'All Moves', products_path %></li>
              <li><%= link_to 'Kicks', kicks_path %></li>
              <li><%= link_to 'Punches', punches_path %></li>
              <li><%= link_to 'Blocks', blocks_path %></li>
            </ul>
          </div>
        </li>
        <li><%= text_field_tag :keywords, '', size: 30, class: 'search_field' %></li>
        <li><%= select_tag 'category', options_from_collection_for_select(Category.all, 'id', 'name'), {:prompt => 'All'} %></li>
        <li><%= submit_tag 'Search', class: 'submit_button' %></li>
      </ul>
      <% end %>
    </nav>

  <div class="jumbotron">
    <div class="container">
      <h1>Martial-Arts Moves @ Cost!</h1>
    </div>
    <div class="the_cart">
      <p>
        <%= image_tag('shoppingcart.gif', height: '32', width: '50') %>
        Cart Items: <%= session['items'].count %>
      </p>
      <p>
        <%= link_to 'Check Out', start_checkout_path %>
      </p>
    </div>
  </div>
  <p><%= debug session %></p>



  <%= yield %>

</div>

</body>
</html>
